@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-card1-color: hsl(31, 77%, 52%);
    --main-card2-color: hsl(184, 100%, 22%);
    --main-card3-color: hsl(179, 100%, 13%);
    --main-para-color: hsla(0, 0%, 100%, 0.75);
    --main-bg-color: hsl(0, 0%, 95%); /* bg, heading and btn color */
}

h1 {
    color: var(--main-bg-color);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    margin-bottom: 20px;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}

.container {
    /* font-family: 'Lexend Deca', sans-serif; */
    max-width: 1440px;
    margin: 100px;
    color: var(--main-para-color);
}

.cars-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    height: 400px;
    width: 270px;
}

.Sedan {
    background-color: var(--main-card1-color);
}

.Suv {
    background-color: var(--main-card2-color);
}

.Luxury {
    background-color: var(--main-card3-color);
}

button {
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 70%;
}

button:hover {
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
    background: hsla(0, 0%, 100%, 0.15);
}

.btn-1 {
    color: var(--main-card1-color);
}

.btn-2 {
    color: var(--main-card2-color);
}

.btn-3 {
    color: var(--main-card3-color);
}

.attribution {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
    text-align: center;
}

/* media query */
@media(max-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
    }
}